@font-face {
    font-family: 'Nexa Rust Shadow';
    src: url('../fonts/Nexa Rust Slab W00 Black 03.ttf') format('truetype');
}

@font-face {
    font-family: 'Nexa Handmade Extended';
    src: url('../fonts/NexaRustHandmade-Extended.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa Handmade Condensed';
    src: url('../fonts/Fontfabric - Nexa Rust Handmade Condensed.otf') format('opentype');
}

@font-face {
    font-family: 'Eraser Dust';
    src: url('../fonts/EraserDust.ttf') format('truetype');
}

@font-face {
    font-family: 'Antone Block';
    src: url('../fonts/Antone Block.ttf') format('truetype');
}

@font-face {
    font-family: 'U-Reg';
    src: url('../fonts/v2/UniNeueRegular.otf') format('opentype');
}

@font-face {
    font-family: 'U-Bold';
    src: url('../fonts/v2/UniNeueBold.otf') format('opentype');
}

@font-face {
    font-family: 'U-Heavy';
    src: url('../fonts/v2/UniNeueHeavy.otf') format('opentype');
}

*{
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

        -webkit-user-select: text;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;

}

*::-webkit-scrollbar {
    display:none;
}


html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
}

body {
    position: fixed;
}

a{
    list-style: none;
    color: inherit;
    cursor: pointer;
}

.background{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/wall.png");
    background-size: 100% 100%;
    padding: 50px;
    display: flex;
    position: relative;
}

#brd-cont{

    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;

}

.blackboard{
    height: 100%;
    width: 100%;
    background-image: url("../images/blackboard.png");
    background-size: 100% 100%;
    padding: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
}

#back{
    opacity: 0.001;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.brd-frm{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 200px;
    border-image: url(../images/blackborder.png) 200 200;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px;
}

.limiter{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.limiter-left{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main{
    position: absolute;
    height: inherit;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px;
    border-image: url(../images/middleborder.png) 10 10;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    justify-content: space-around;
}

.main-logo{
    height: auto;
    width: 100%;
    padding: 0 5%;
}

.main-logo img{
    height: auto;
    width: 100%;
}

.main-nav{
    width: 100%;
    padding: 5px 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 36px;
    font-family: 'Antone Block';
    color: #E6E6E6;
    overflow: visible;
}

.main-nav a{
    display:block;
    overflow:visible;
    margin:auto;
}

.main-nav a:hover{
    color: #FFC29C;
    transform: scaleY(1.15);
}

.nav-btn.active{
    color: #ff0000;
}

.nav-btn.active a:hover{
    color: #FFC29C;
}

.main-deliver{
    width: 98%;
    max-height: 100%;
    border-style: solid;
    border-width: 30px;
    border-image: url(../images/deliverborder.png) 110 110;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#delivery-btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:999;
}

.deliver-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:100%;
    color:#E6E6E6;
    font-family: "U-Bold";
    font-weight: normal;
    font-size: 28px !important;
}

.info.number{
    color:#ff0000;
    font-size: 34px !important;
    font-family: "U-Heavy";
}

.main-deliver:hover #num{
    color:#FFC29C !important;
}

.main-deliver:hover .deliver-ico{
    transform: rotate(-5deg) translateX(10px);
}

.main-deliver:hover .info{
    transform: scale(1.15);
}

.deliver-ico{
    width: 50%;
    height: 0;
    padding-bottom: 52.5%;
    background-image: url(../images/deliverico.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
}

.partners{
    white-space: nowrap;
    width: 100%;
    display: table;
    padding: 0;
}

.logo-partner {
    vertical-align: middle;
    padding: 15px;
    display: table-cell;
}

.logo-partner img {
    max-width: 100%;
}

.logo-partner img:hover{
    transform: scale(1.1);
}

.menu-col{
    width: 35%;
    height: 100%;
}

.menu-col.right{
    padding-left: 20px;

}

.menu-col.left{
    padding-right: 20px;
    
}

.no-scrollbar{
    width: 100%;
    height: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    overflow-y: scroll;
    overflow-x:hidden;

    text-align: justify;
    text-justify: inter-word;

    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-content: center;
}

.no-scrollbar::-webkit-scrollbar {
    display:none;
}


h1{
    font-family: "U-Heavy";
    font-size: 32px;
    color: #DBDBDB;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    vertical-align: middle;
    overflow-wrap: break-word;
}

h2{
    font-family: "U-Bold";
    font-size: 32px;
    color: #DBDBDB;
    display: table-cell;
    vertical-align: middle;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

h3{

    font-family: "U-Reg";
    font-size: 24px;
    color: #FFC29C;
    overflow: visible;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.kimbo{
    display: table;
    width: 100%;
}

.cell{
    display: table-cell;
}

.cell img{
    max-width: 100%;
}

.menu-col.right .no-scrollbar{
    padding-top: 20px;
}
    
@media screen and (max-width:1800px){

    h1{
        font-size: 21px;
    }

    h2{
        font-size: 21px;
    }

    h3{
        font-size: 16px;
    }

    .main-nav{
        font-size: 24px;
        box-sizing: content-box;
    }

    .main-deliver{
        border-width: 25px;
        max-height: 32%;
    }

    .deliver-info{
        font-size: 20px !important;
    }

    .info.number{
        font-size: 24px !important;
    }

    .deliver-ico{
        padding-bottom: 48%;
    }

    .brd-frm{
        border-width: 150px;
    }

}

@media screen and (max-width: 1300px){


    h1{
        font-size: 18px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 13px;
    }

    .main{
        border-width: 5px;
    }

    .main-nav{
        font-size: 18px;
        box-sizing: content-box;
    }

    .main-deliver{
        border-width: 25px;
        max-height: 32%;
    }

    .deliver-info{
        font-size: 16px !important;
    }

    .info.number{
        font-size: 18px !important;
    }

    .deliver-ico{
        padding-bottom: 48%;
    }

}

@media screen and (max-width: 1100px){
    .limiter-left{
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 40%;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: auto;
        -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    }

    .menu-col{
        height: auto;
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        position: relative;
    }

    .menu-col.left .no-scrollbar{
        padding-top: 10px;
    }

    .menu-col.right .no-scrollbar{
        padding-top: 0;
    }

    .menu-col.left, .menu-col.right{
        padding: 0 0 0 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .main{
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 40%;
        border-style: solid;
        border-image: url(../images/middleborder2.png) 10 10;
    }

    .no-scrollbar{
        mask-image: none;
        -webkit-mask-image: none;
        overflow:auto;
        height: auto;
    }

    .brd-frm{
        border-width: 100px;
    }
 
    .main-deliver{
        border-width: 25px;
        max-height: 32%;
    }

    .deliver-info{
        font-size: 19px !important;
    }

    .info.number{
        font-size: 22px !important;
    }

    .deliver-ico{
        padding-bottom: 43%;
    }

    .background{
        padding: 25px;
    }

    .content{
        padding: 25px;
    }

}

@media screen and (max-width: 840px){

    .deliver-info{
        font-size: 13px !important;
    }

    .info.number{
        font-size: 16px !important;
    }

    .menu-col.left .no-scrollbar{
        padding-top: 20px;
    }

    .menu-col.right .no-scrollbar{
        padding-top: 0;
    }

    .menu-col.left .no-scrollbar{
        padding-top: 10px;
    }

}

@media screen and (max-width: 700px){

    .main-nav{

        flex-direction: column;
        text-align: center;

    }

    .main-nav a{
        margin: 10px 0;
    }

    .main-deliver{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info.number{
        white-space: nowrap;
        word-break:keep-all;
        text-overflow: ellipsis;
    }

    .limiter-left{
        flex-direction: column;
        justify-content: start;
        align-content:flex-start;
    }

}


@media screen and (max-width: 550px){

    #back{
        background-image: url("../images/arrowup.png");
        background-size: 100% 100%;
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    .content{
        overflow: auto;
        padding: 10px;
        -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 2%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 92%);
    
        mask-image: linear-gradient(180deg, rgba(0,0,0,0) 2%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 92%);
    }

    .limiter{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        mask-image: none;
        -webkit-mask-image: none;
        overflow: auto;
        overflow-x:hidden;
    }

    .limiter-left{
        mask-image: none;
        -webkit-mask-image: none;
    }

    .main{
        height: auto;
        width: 100%;
        position: relative;
        border-width: 0;
        padding-top: 20px;
    }

    .main-logo{
        height: 0;
        width: 70%;
        padding-bottom: 70%;
        margin-bottom: -50px;
        }

    .main-nav{

        flex-direction: row;
        text-align: center;

    }

    .main-deliver{
        display: flex;
        flex-direction: row;
        align-items:stretch;
    }

    .limiter-left{

        position:relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;

    }

    .menu-col{
        position: relative;
        height: auto;

    }

    .no-scrollbar{
        mask-image: none;
        -webkit-mask-image: none;
    }

    .main-deliver{
        align-items: center;
    }

    .deliver-info{
        font-size: 19px !important;
    }

    .info.number{
        font-size: 22px !important;
    }

    .blackboard{
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height: fill-available;
        min-height: stretch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .brd-frm{
        border-width: 0;
        border-image: none;
        background-image: transparent;
    }
    
}

@media screen and (max-width: 435px){

    .main-logo{
        height: 0;
        width:100%;
        padding-bottom: 100%;
        }

}

@media screen and (max-width: 350px){

    #back{
        background-image: url("../images/arrowup.png");
        background-size: 100% 100%;
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-nav{
        font-size: 15px;
    }

    .deliver-info{
        font-size: 15px !important;
    }

    .info.number{
        font-size: 19px !important;
    }

    h1{
        font-size: 15px;
    }

    h2{
        font-size: 15px;
    }

    h3{
        font-size: 11px;
    }

}

@media screen and (max-height: 700px) and (orientation: landscape){
    .main{
        overflow-y:scroll;
        overflow-x:hidden;
        justify-content:flex-start;
        -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
    
        mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
    }
}

@media screen and (max-height: 700px) and (min-width: 551px) and (max-width: 830px){
    .main-nav{
        flex-direction: column;
        text-align: center;
    }

    .main-nav a{
        margin: 10px 0;
    }
}

@media screen and (max-height: 580px) and (orientation: landscape){

    .no-scrollbar{
        justify-content: flex-start;
    }

    .main{
        overflow-y:scroll;
        overflow-x:hidden;
        justify-content:flex-start;
        -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
    
        mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .main-nav{
        flex-direction: row;
        font-size: 15px !important;
        padding: 10px 0;
    }

    .main-deliver{
        min-height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .deliver-ico{
        display: none;
    }

    .menu-col.left .no-scrollbar{
        padding-top: 10px;
    }

    .brd-frm{
        border-width: 0;
        border-image: none;
        background-image: transparent;
    }

    .content{
        padding: 5px;
    }

    .top.category{
        margin-top: 0;
    }

}

@media screen and (max-height: 320px) and (orientation: landscape){

    .main-nav{
        font-size: 12px !important;
        padding: 5px 0;
    }

    h1{
        font-size: 12px !important;
    }

    h2{
        font-size: 12px !important;
    }

    h3{
        font-size: 12px !important;
    }


}